


div.contenedor{border: 3px dashed greenyellow;width: 30%; height: 100px;margin:auto;overflow: scroll;}
div.contenedor.flotado{float:  left; }
div.contenedor.flotado.contenedor1{border:3px dashed greenyellow ;}
div.contenedor.fltado.contenedor2{border: 3px dashed cornflowerblue; float: right;}
div.contenedor.contenedor3{clear: both;border: 3px dashed darkorange; margin: auto;}